.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 200px;
  border: 1px solid #000;
}
.br {
  width: 120px;
  height: 3px;
  background-color: brown;
}
.but {
  margin: 4px 0px 4px 0px;
  background-color: gray;
  width: 160px;
  height: 30px;
  box-shadow: 5px 5px 4px rgb(53, 52, 52);
}
h3 {
  font-weight: bold;
}
.describe {
  font-size: 2px;
}
.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
