<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'test.css' %}" />
  </head>
  <body>
    <div class="container">
      <h3>고려대학교 정경대</h3>
      <div class="br"></div>
      <div class="container2">
        <img
          src="http://www.veritas-a.com/news/photo/201401/19913_5958_3122.jpg"
          class="jk"
          style="width: 50px; height: 50px"
        />
        <p class="describe">폭풍의 언덕 방향 쪽문</p>
        <p class="describe">(정경대 1층으로 연결)</p>
        <p class="describe">주말포함 매일 개방 24H 개방</p>
        <p class="describe">(카드 필요)</p>
      </div>

      <p class="but">접근입구</p>
      <p class="but">건물 내 시설</p>
      <p class="but">건물 주위 시설</p>
    </div>
  </body>
</html>
